html,
body {
  margin: 0;
}

.nav-bar {
  height: 5vh;
  background-color: aliceblue;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-input {
  margin-right: 10px;
}

.header-text {
  margin: 0;
}

.short-link-container {
  display: inline;
  width: auto;
  position: relative;
}

.copy-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border-radius: 10px;
  border: none;
  transition: transform 0.2s;
}

.copy-button:hover {
  transform: scale(1.1);
}

.jump-class {
  animation: jump .2s linear 1;
}

@keyframes jump {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.icon {
  max-width: 16px;
  pointer-events: none;
}
